In [47]:
import pandas as pd 
# weather_data = {
#     'Date':['1/1/2021','2/1/2021','3/1/2021','4/1/2021','5/1/2021'],
#     'Temperature':[30,31,33,29,32],
#     'WindSpeed':[5,6,4,6,3],
#     'Event':['Rainy','Sunny', 'Sunny','Rainy', 'Rainy']
# }
# df = pd.DataFrame(weather_data)
# df

In [48]:
df = pd.read_csv('nyc_weather.csv')
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [49]:
rows, col = df.shape
col

11

In [50]:
rows

31

In [51]:
df.head(2)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275

In [52]:
df.tail()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [53]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [54]:
df.EST

0      1/1/2016
1      1/2/2016
2      1/3/2016
3      1/4/2016
4      1/5/2016
5      1/6/2016
6      1/7/2016
7      1/8/2016
8      1/9/2016
9     1/10/2016
10    1/11/2016
11    1/12/2016
12    1/13/2016
13    1/14/2016
14    1/15/2016
15    1/16/2016
16    1/17/2016
17    1/18/2016
18    1/19/2016
19    1/20/2016
20    1/21/2016
21    1/22/2016
22    1/23/2016
23    1/24/2016
24    1/25/2016
25    1/26/2016
26    1/27/2016
27    1/28/2016
28    1/29/2016
29    1/30/2016
30    1/31/2016
Name: EST, dtype: object

In [55]:
df.Events

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8         Rain
9         Rain
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15        Rain
16    Fog-Snow
17        Snow
18         NaN
19         NaN
20         NaN
21        Snow
22    Fog-Snow
23        Snow
24         NaN
25         NaN
26        Rain
27         NaN
28         NaN
29         NaN
30         NaN
Name: Events, dtype: object

In [56]:
df['Temperature']

0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64

In [57]:
df['Temperature'].max()

50

In [58]:
df['Temperature'].min()

20

In [59]:
df['Temperature'].mean()

34.67741935483871

In [60]:
df['Temperature']> 25

0      True
1      True
2      True
3     False
4     False
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17    False
18    False
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
Name: Temperature, dtype: bool

In [61]:
df['EST'][df.Temperature==df['Temperature'].max()]

9    1/10/2016
Name: EST, dtype: object

In [62]:
df[['EST', 'Temperature']][df.Temperature==df['Temperature'].max()]

         EST  Temperature
9  1/10/2016           50

In [63]:
df.index

RangeIndex(start=0, stop=31, step=1)

In [64]:
df.set_index('EST')

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [65]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [66]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [67]:
# 
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [69]:
df.set_index('EST', inplace=True)

In [70]:
df

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [72]:
df.loc['1/31/2016']

Temperature               46
DewPoint                  28
Humidity                  52
Sea Level PressureIn    29.9
VisibilityMiles           10
WindSpeedMPH             5.0
PrecipitationIn            0
CloudCover                 0
Events                   NaN
WindDirDegrees           241
Name: 1/31/2016, dtype: object